<form>

  <div class="row">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered">
        <input type="text" readonly value="<%= bitlyUrl %>"/>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered small-centered">
        <a href="<%= downloadUrl %>" class="button columns">Download</a>
    </div>
  </div>

</form>
