<form>



  <div class="row hide" id="alert-notification-container">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered">
      <div data-alert class="alert-box info">
        Upload file should be an ipa or apk.
        <a href="#" class="close-alert-action close">&times;</a>
      </div>
    </div>
  </div>

  <div class="row hide" id="alert-max-size-notification-container">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered">
      <div data-alert class="alert-box info">
        Max Upload file should be 10 megabytes.
        <a href="#" class="close-alert-action close">&times;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered">
      <div class="row collapse">
        <div class="small-8 columns">
          <input type="text" id="filename" readonly placeholder="Upload file ipa|apk" >
          <input type="file" id="select-file" class="hide" >
        </div>
        <div class="small-4 columns">
          <a href="#" class="button postfix" id="upload-button">Upload</a>
        </div>
      </div>
    </div>
  </div>

   <div class="row hide" id="bundle-id-container">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered">
        <input type="text" placeholder="bundle identifier" />
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered small-centered">
        <a href="#" id="snaprelease-button" class="button columns">SnapRelease</a>
    </div>
  </div>

  <div id="progressbar-container" class="row hide">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered small-centered ">
      <div class="progress">
          <span class="meter" id="progressbar-meter" style="width: 0%"></span>
      </div>
    </div>
  </div>


</form>
